:root {
  --color-background:   background-color: #7088ce;
  opacity: 1;
  background-image: radial-gradient(
      #e5f0e8 1.4000000000000001px,
      transparent 1.4000000000000001px
    ),
    radial-gradient(#e5f0e8 1.4000000000000001px, #7088ce 1.4000000000000001px);
  background-size: 56px 56px;
  background-position: 0 0, 28px 28px;

  --color-black:#000;
  --color-white:#fff; 
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: border-box;
}


button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  border: none;
}
a {
  display: inline-block;
  color: inherit;
}
ul,
ol {
  text-decoration: none;
}
body {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
}
.lights-control {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 18%;
}
.lights-label {
  width: 42px;
  height: 22px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 15px;
  background-color: #121141;
  padding: 3px 4px;
}
.lights-input {
  display: none;
}
.lights-label::after {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  border-radius: 50%;
  background-color: #9a9ab1;
  transition: 0.3s;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #7088ce;
  opacity: 1;
  background-color: var(--color-background);
  
}
.card {
  margin:0 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  min-width: 350px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.top {
  z-index: 2;
  height: 100px;
  background-color: #121141;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #121141 24px
    ),
    repeating-linear-gradient(#4089c555, #4089c5);
}
.middle {
  margin: 0 auto;
  text-align: center;
  margin-top: -60px;
  background-color: var(--color-white);
  width:100%;
  height: 190px;
}
.pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid white;
  z-index: 1;
}
.pic-content {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 3;
}
.pic-content::before {
  content: "";
  position: absolute;
  top: 0;
  width: 120px;
  height: 120px;
  background-color: #4089c5;
  border-radius: 50%;
}
.title {
  font-size: 22px;
  color: #000;
}
.position {
  font-size: 16px;
  color: #000;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
}
.column {
  flex: 1;
  padding: 18px 15px;
  text-align: center;
  border-top: 1px solid #c4c4c4;
}
h3 {
  text-align: center;

}
.icon {
  width: 20px;
  height: 20px;
  transition: 0.3s;
}
.icon:hover {
  transform: scale(1.2);
}
.username {
  font-size: 12px;
  color: #000;
}
.column:nth-child(2) {
  border-right: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;
}

/* theme */
.lights-input:checked + .lights-label::after {
  transform: translateX(21px);
  background-color: #121141;
}
.lights-input:checked + .lights-label {
  background-color: #fff;
}
html:has(.lights-input:checked) .middle{
  background-color:var(--color-black);
}
html:has(.lights-input:checked) .bottom{
  background-color:var(--color-black);
}
html:has(.lights-input:checked) .title{
  color: #fff;
}
html:has(.lights-input:checked) .position{
  color: #fff;
}
html:has(.lights-input:checked) .username{
  color: #fff;
}
html:has(.lights-input:checked) .icon{
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
html:has(.lights-input:checked) .pic-content::before {
  background-color: #d55d25;
 
}